/* Algebra.css */
.subject-page-container {
    padding: 2rem;
}

.section-header {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 4rem;
}

.section-title {
    margin-bottom: 0.5rem;
    text-align: center;
}

.links-line {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 1rem;
    text-align: center;
}

.breadcrumb-link {
    color: #00BFFF;
    text-decoration: none;
    cursor: pointer;
    margin: 0 0.5rem;
}

.breadcrumb-link:hover {
    text-decoration: underline;
}

.small-button {
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
    width: 120px;
    background-color: #87CEEB;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.small-button:hover {
    background-color: #00BFFF;
}

.live-lectures-section {
    margin-top: 1.5rem;
    text-align: left;
}

.live-lecture-link {
    display: block;
    margin-bottom: 0.5rem;
    text-align: left;
}

.recorded-videos-carousel {
    overflow-x: auto;
    white-space: nowrap;
    margin-top: 1.5rem;
    text-align: left;
}

.recorded-video-card {
    display: inline-block;
    width: 200px;
    height: 150px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-right: 1rem;
    padding: 1rem;
    margin-top: 1rem;
}

.view-all-button {
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
    width: 150px;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.view-all-button:hover {
    color: #00BFFF;
}

.course-information-section {
    margin-top: 1.5rem;
    text-align: left;
    color: black; /* Text color */
}

.syllabus-download {
    display: block;
    margin-top: 0.5rem;
    text-align: left;
    color: #00BFFF; /* Link color */
}

.practical-section {
    margin-top: 1.5rem;
    text-align: left;
    color: black; /* Text color */
}

.section-content {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1.5rem;
    margin-top: 1.5rem;
    color: black;
}

.buttons-section {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1rem;
}
