.action-button-leave{
    display: flex;
    gap: 10px;
    width: 80px;
    padding: 5px;
    cursor: pointer;
}

.add-btn-leave{
    background-color: green;
    /* border-radius: 5px; */
    border: none;
}
.reject-btn-leave{
    background-color: red;
    /* border-radius: 5px; */
    border: none;
}
.table-leave{
    width: 80%;
   text-align: center;
   background-color: white;
  
}
.h3-leave{
    text-align: left;
    font-weight: bold;
    
}
.pending{
    margin-top: 10px;
    margin-left: 50px;
}
.accepted{
    margin-top: 30px;
    margin-left: 50px;
}
.rejected{
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 20px;
}
/* For devices with width of 1024px and above (like desktops) */
@media only screen and (min-width: 1025px) {
    .table-leave {
        width: 85%;
    }
}

/* For tablets (768px to 1024px) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .table-leave {
        width: 80%;
    }
    .action-button-leave {
        flex-direction: column;
        align-items: center;
    }
}

/* For mobile devices (up to 767px) */
@media only screen and (max-width: 767px) {
    .table-leave {
        width: 100%;
        font-size: 12px;
        margin-left: 0px;
    }
    .action-button-leave {
        flex-direction: column;
        align-items: center;
    }
    th, td {
        padding: 5px;
    }
    .pending {
        margin-top: 50px;
        margin: 10px;
    }
    .accepted{
        margin: 10px;
    }
    .rejected{
        margin: 10px;
    }
}