.main {
    width: 100%;
    height: 620px;
    background-color: #f9f9f9;
    margin-top: 5px;
    padding: 0px;
}

.info {
    background-color: white;
    width: 100%;
    /* margin-left: 20px; */
    height: 150px;
    border: 1px solid #ccc;
}

.name {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

span>p {
    font-size: 25px;
    color: black;
}

.icon-with-text {
    display: flex;
    align-items: center;
}

.icon-with-text svg {
    margin-right: 10px;
    background-color: #ddd;
    color: white;
    border-radius: 50%;
    padding: 10px;
    padding-bottom: 0px;
}

.url {
    display: flex;
    margin-left: 15px;
}

.preference {
    background-color: white;
    width: 100%;
    /* margin-left: 20px; */
    height: 420px;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}
.preference > h3 {
    margin-left: 20px;
    margin-top: 10px;
}
.pref {
    display: flex;
    align-items: flex-start;
}

.useracc,
.blog,
.badges {
    width: 30%;
    border: 1px solid #ccc;
    margin-left: 20px;
    padding: 25px;
    /* box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2); */
}

h5 {
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}


a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}