.main-1{
    /* width: 70%;
    height: 650px;
   background-color:  #f9f9f9;
   margin-left: 0%;
   margin-top: 5px;
   padding: 20px; */
   display: flex;
}
.profile-right{
    display: flex;
    flex-direction: column;
    width: 30%;
}
.profile-left{
    width: 70%;
}
.info-1{
    width: 91%;
    height: auto;
    background-color: white;
    margin-left: 2.7%;
    position: relative;
    border: 1px solid #ccc;
}
.name {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
span > p{
    font-size: 25px;
    color: black;
}
.icon-with-text {
    display: flex;
    align-items: center;
}

.icon-with-text svg {
    margin-right: 10px;
    background-color: #ddd;
    color: white;
    border-radius: 50%;
    padding: 10px;
    padding-bottom: 0px;
}
.pointer{
    cursor: pointer;
    margin-right: 15px;
}
.url{
    display: flex;
    margin-left: 15px;
}
.btton{
    display: flex;
    margin-left: auto;
    margin-right: 15px;
    cursor: pointer;
}
.btton > h6{
    margin-left: 10px;
    padding: 7px;
    background-color: #ccc;
}
.details{
    background-color: white;
    width: 91%;
    margin-left: 20px;
    height: 470px;
    margin-top: 20px;
    display: flex;
    border: 1px solid #ccc;
}
.user-details{
    width: 48%;
    margin: 10px;
}
.user, .course, .misc{
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    margin: 5px;
    padding: 10px;
    /* box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2); */

}
.user > a{
    margin-left: 210px;
    cursor: pointer;
    
   
}
.user-details-2{
    width: 48%;
    margin: 10px;
}
.report, .login{
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    margin: 5px;
    padding: 10px;
    /* box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2); */

}
ul{
    list-style-type: none;
    
}