.registration-form {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #e6f2ff;
  /* background-color: #f88282; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.registration-form h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 34px;
  font-weight: bold;
  font-family: cursive;
  color: #007bff;
}

.registration-form-group {
  margin-bottom: 10px;
}

.registration-form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.countryCode {
  background-color: #007bff;
  color: white;
}

.country {
  display: flex;
}

.registration-form-group input,
.registration-form-group textarea,
.registration-form-group select {
  width: 100%;
  padding: 7px;
  border: 1px solid #ddd;
  /* background-color: #f9f9f9; */
  border-radius: 4px;
  font-size: 14px;
  color: #333;
}

.registration-form-group input:focus,
.registration-form-group textarea:focus,
.registration-form-group select:focus {
  border-color: #007bff;
  outline: none;
}

.registration-form-group .error {
  color: #d9534f;
  font-size: 12px;
  margin-top: 2px;
}

.gen {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.gen>input {
  cursor: pointer;
}

.radio-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.radio-group .error {
  display: block;
  margin-top: 5px;
  color: #d9534f;
  font-size: 12px;
}

.btn-register[type="submit"] {
  /* display: inline-block; */
  margin-left: 25%;
  margin-top: 20px;
  width: 50%;
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


/* For tablets (768px to 1024px) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .registration-form {
    max-width: 70%;
  }
}

/* For mobile devices (up to 767px) */
@media only screen and (max-width: 767px) {
  .registration-form {
    padding: 10px;
    margin: 10px;
  }

  .registration-form-group input,
  .registration-form-group textarea .registration-form-group select {
    font-size: 18px;
  }

  .registration-form-group option {
    font-size: 14px;
    width: 50px;

  }

  .btn-register[type="submit"] {
    margin-top: 15px;
    width: 60%;
    margin-left: 20%;
  }
}