.react-calendar {
    border: 1px solid #a0a096;
    border-radius: 8px;
    padding: 10px;
    width: 25%;
  }
  
  .react-calendar__tile--active {
    background-color: #006edc;
    color: white;
  }
  
  .react-calendar__tile--now {
    background: #ffff76;
  }
  .cal{
    margin-top: 40px;
    margin-left: 30%;
  }