/* Styles for the main container */
.dashboard-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.section-heading {
  margin-top: 30px;
  font-size: 1.5rem;
  padding: 2rem;
}

.scroll-container {
  height: 100px; /* Adjust height as needed */
  overflow: hidden;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
}

.notices-container {
  height: 100%;
  overflow: hidden; /* Hide scrollbar */
}

.notices {
  display: flex;
  flex-direction: column;
  animation: scroll 20s linear infinite; /* Extended animation duration */
}

.notice {
  padding: 0.5rem;
  border-bottom: 1px solid #ddd;
}

.recently-accessed-container {
  display: flex;
  overflow-x: auto;
  gap: 1rem;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}

.subjects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.toggle-button {
  margin-top: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes scroll {
  0% { transform: translateY(0); }
  100% { transform: translateY(calc(-100% + 100px)); } /* Ensures smooth scrolling */
}
