.sidebar-container {
  width: 60px;
  height: calc(100vh - 60px);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  top: 60px;
  left: 0;
  z-index: 1000;
  transition: width 0.3s ease;
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar-container.open {
  width: 250px;
}

.sidebar-items {
  flex-grow: 1;
  width: 100%;
}

.sidebar-item {
  width: 100%;
  padding: 0.5rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  color: black;
  background-color: transparent;
  border: 1px solid #ccc;
}

.sidebar-item.selected {
  background-color: #87ceeb;
  border-left: 3px solid #87ceeb;
}

.sidebar-item.has-subcategories {
  justify-content: flex-start;
}

.sidebar-item:hover {
  background-color: #87ceeb;
  border-left: 3px solid #87ceeb;
}

.sidebar-icon,
.subcategory-icon,
.subsubcategory-icon {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

.subcategory-icon {
  font-size: 1rem; /* Smaller size for subcategory icons */
}

.subsubcategory-icon {
  font-size: 1rem; /* Same size for subsubcategory icons as subcategory */
}

.sidebar-label {
  flex-grow: 1;
  text-align: left;
}

.sub-arrow {
  margin-left: auto;
}

.plus-button {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  color: black;
  background-color: transparent;
  border: 1px solid #ccc;
}

.plus-button:hover {
  background-color: #f5f5f5;
}

.sidebar-add-subject {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: black;
  background-color: transparent;
  border: 1px solid #ccc;
}

.sidebar-add-subject:hover {
  background-color: #87ceeb;
  border-left: 3px solid #87ceeb;
}

.subcategory {
  margin-left: 10px; /* same as category label indentation */
}

.subsubcategory {
  margin-left: 30px; /* same as subcategory label indentation */
}
