.reset-form {
  max-width: 350px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  /* background-color: #770e0e; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.reset-form>h2 {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: #007bff;
}

.reset-form-group {
  margin-bottom: 10px;
}

.reset-form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.reset-form-group input {
  width: 100%;
  padding: 7px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  font-size: 14px;
  color: #333;
}

.reset-form-group input:focus {
  border-color: #007bff;
  outline: none;
}

.reset-form-group .error {
  color: #d9534f;
  font-size: 12px;
  margin-top: 2px;
  margin-bottom: 0px;
}



.btn-reset[type="submit"] {
  display: inline-block;
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* For tablets (768px to 1024px) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .reset-form {
    max-width: 70%;
  }
}

/* For mobile devices (up to 767px) */
@media only screen and (max-width: 767px) {
  .reset-form {
    padding: 10px;
    margin: 10px;
    margin-left: 9%;
  }

  .reset-form-group input {
    font-size: 14px;
  }


  .btn-reset[type="submit"] {
    margin-top: 15px;
    width: 50%;
    margin-left: 25%;
  }

  .reset-form-group option {
    width: calc(10% - 56px);
    max-width: 50%;
    box-sizing: border-box;

  }
}