.header {
  background-color: #87CEEB;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  grid-area: header;
  z-index: 1000;
}

.left-section {
  display: flex;
  align-items: center;
}

.logo {
  width: 100px;
  height: auto;
  margin-right: 1rem;
}

.location-container {
  display: flex;
  align-items: center;
}

.location-icon {
  margin-right: 0.5rem;
}

.right-section {
  display: flex;
  align-items: center;
}

.notification-icon {
  margin-right: 1rem;
  cursor: pointer;
}

.message-icon {
  margin-right: 1rem;
  cursor: pointer;
}

.profile-icon {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
}

.profile-text {
  margin-left: 0rem;
}

.dropdown-menu {
  position: absolute;
  top: calc(100% + 5px);
  right: 0;
  background-color: #fff;
  width: 100px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 10;
}

.dropdown-item>svg {
  margin-right: 10px;
}

.dropdown-menu.open {
  display: block;
}

.dropdown-item {
  padding: 0.75rem;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

.toggle-icon {
  cursor: pointer;
  margin-right: 1rem;
}